<%- include('./partials/head.ejs', { scripts, styles, title:'Strona główna'}) %> 


<main>

    <h1 class="title">ZALOGUJ SIĘ</h1>

    <div class="notifications">
        <% if (loginViewModel.errors.length !== 0) { %>
        <div class="notification">
            Błędy w trakcie logowania
        <ul>
        <% loginViewModel.errors.forEach(error => { %>
            <li><%= error %></li>
        <% })}; %>
        </ul>
        </div>
    </div>

    <form action="" method="POST" id="form">

        <div class="fieldWrapper">
            <label for="username">LOGIN</label>
            <input type="text" class="field" name="username" id="username" 
                placeholder="" 
                minlength="3" 
                maxlength="20"
                value="<%= loginViewModel.cache.username %>" 
                required
            />
        </div>
        
        <div class="fieldWrapper">
            <label for="password">HASŁO</label>
            <input type="password" class="field" name="password" id="password" 
                placeholder="" 
                minlength="12" 
                maxlength="50" 
                value="<%= loginViewModel.cache.password %>"
                required
            />
        </div>

        <input type="hidden" name="_csrf" value="<%= account.csrf %>">
        <input type="submit" class="submit" value="ZALOGUJ SIĘ">
        <a href="/register" class="registerLink">*Zarejstruj się</a>


    </form>


</main>

<%- include('./partials/footer.ejs') %>