<%- include('./partials/head.ejs', { scripts, styles, title:'Stwórz ankietę'}) %> 


<main>

    <h1 class="__title">STWÓRZ ANKIETĘ</h1>

    <div class="notifications">
        <% if (newViewModel.errors.length !== 0) { %>
        <div class="notification">
            Błędy w trakcie tworzenia ankiety
            <ul>
            <% newViewModel.errors.forEach(error => { %>
                <li><%= error %></li>
            <% }) %>
            </ul>
        </div>
        <% } %>
    </div>

    <form action="/new" method="POST" id="form">
        <textarea 
            type="text" 
            placeholder="Pytanie ankiety..." 
            name="question" 
            minlength="1" 
            maxlength="500" 
            title="Maksymalna długość pytania to 500 znaków" 
            required
            ><%= Object.keys(newViewModel.cache).length !== 0 ? newViewModel.cache.question : '' %></textarea>

        <textarea 
            type="text" 
            placeholder="Opis ankiety... (opcjonalny)" 
            name="description" 
            maxlength="800" 
            title="Maksymalna długość opisu ankiety to 800 znaków" 
        ><%= Object.keys(newViewModel.cache).length !== 0 ? newViewModel.cache.description : '' %></textarea>


        <div id="options">
            <% if (Object.keys(newViewModel.cache).length !== 0) { newViewModel.cache.options.forEach((option, index) => { %>
                <div class="option">
                    <input name="option[]" placeholder="Opcja..." minlength="1" maxlength="100" title="Maksymalna długość opcji to 100 znaków" value="<%= option %>" required>    
                    <% if (index !== 0) { %> <button type="button" class="drop" ><img src="/images/icons/delete.svg" alt="Usuń opcję" title="Usuń opcję"></button> <% } %>
                </div>    
            <% })} else { %>
                <div class="option">
                <input name="option[]" placeholder="Opcja..." minlength="1" maxlength="100" title="Maksymalna długość opcji to 100 znaków" required>
                </div>
            <% } %>


            <button type="button" id="addOptionButton"><img src="/images/icons/plus.svg"></button>

        </div>
        <input type="hidden" name="_csrf" value="<%= account.csrf %>">
        <input type="submit" value="OPUBLIKUJ" class="submit">
    </form>


</main>

<%- include('./partials/footer.ejs') %>