<%- include('./partials/head.ejs', { scripts, styles, title:`Wyniki wyszukiwania`, phrase: pollSearchViewModel.phrase }) %> 


<main class="_hub">
    <section class="__banner">

        <h1>Wyniki wyszukiwania dla frazy <i> <%= pollSearchViewModel.phrase %> </i> </h1>

    </section>

    <section class="__gallery">

        <div class="___galleryContent grid">

            <% pollSearchViewModel.polls.forEach(poll => {  %>

                <figure class="poll">

                    <img src="/images/icons/poll.svg">
                    <figcaption>
                        <h4> <%= poll.question %> </h4>
                        <ul class="pollOptions">
                        <% poll.options.forEach(option => { %><li> <%= option.name %> </li><% }) %>
                        </ul>
                    </figcaption>

                    <a href="/poll/<%= poll.id %>" class="pollVoteButton">
                        <img src="/images/icons/vote.svg">
                        <span>ZAGŁOSUJ</span>
                    </a>

                </figure>

            <% }) %>

        </div>


    </section>
    
    <div class="__controls">

        <a <%- pollSearchViewModel.page === 1 ? 'data-disabled' : `href="?search=${pollSearchViewModel.phrase}&page=${pollSearchViewModel.page - 1}"` %>> 
            <img src="/images/icons/arrowThin.svg" alt="&lt" title="Poprzednia strona">
        </a>

        <data id="pageNumber"> <%= pollSearchViewModel.page %> </data>

        <a <%- pollSearchViewModel.isEnd ? 'data-disabled' : `href="?search=${pollSearchViewModel.phrase}&page=${pollSearchViewModel.page + 1}"` %>>
            <img src="/images/icons/arrowThin.svg" alt="&gt" title="Następna strona">
        </a>

    </div>


</main>


<%- include('./partials/footer.ejs') %>