<%- include('./partials/head.ejs', { scripts, styles, title:`Wyniki wyszukiwania`, phrase: viewModel.phrase }) %> 


<main class="_hub">
    <section class="__banner">

        <h1>Wyniki wyszukiwania dla frazy <i> <%= viewModel.phrase %> </i> </h1>

    </section>

    <section class="__gallery">

        <div class="___galleryContent grid">

            <% viewModel.polls.forEach(poll => {  %>

                <figure class="poll">

                    <img src="/images/icons/poll.svg" alt="">
                    <figcaption>
                        <h4> <%= poll.question %> </h4>
                        <ul class="pollOptions">
                        <% poll.options.forEach(option => { %><li> <%= option.name %> </li><% }) %>
                        </ul>
                    </figcaption>

                    <a href="/poll/<%= poll.id %>" class="pollVoteButton">
                        <img src="/images/icons/vote.svg" alt="">
                        <span>ZAGŁOSUJ</span>
                    </a>

                </figure>

            <% }) %>

        </div>


    </section>
    
    <div class="__controls">

        <a <%- viewModel.page === 1 ? 'data-disabled' : `href="?search=${viewModel.phrase}&page=${viewModel.page - 1}"` %> title="Poprzednia strona"> 
            <img src="/images/icons/arrowThin.svg" alt="&lt">
        </a>

        <data id="pageNumber"> <%= viewModel.page %> </data>

        <a <%- viewModel.isEnd ? 'data-disabled' : `href="?search=${viewModel.phrase}&page=${viewModel.page + 1}"` %> title="Następna strona">
            <img src="/images/icons/arrowThin.svg" alt="&gt">
        </a>

    </div>


</main>


<%- include('./partials/footer.ejs') %>