<%- include('./partials/head.ejs', {scripts, styles, title: pollViewModel.question}) %>


<main class="_hub">
    
    <section class="__info">

        <figure class="___title">
                <div class="____question">
                    <h1><%= pollViewModel.question %></h1> 
                    <% if (pollViewModel.details.isAuthor) { %>
                        <form method="POST" action="?_method=DELETE">
                            <button type="submit" id="deletePollButton"><img src="/images/icons/delete.svg" alt="Usuń ankietę" title="Usuń ankietę">
                        </form>
                        
                        <form method="GET" action="/modify/<%= pollViewModel.id %>">
                            <button type="submit" id="modifyPollButton"><img src="/images/icons/modify.svg" alt="Zmodifikuj ankietę" title="Zmodyfikuj ankietę"></button>
                        </form>
                    <% } %>
                </div>
                <div class="____description">
                    <h2> <%= pollViewModel.description %> </h2>
                </div>
        </figure>
        <div class="___details">
            <figure class="____infoLabel">
                <img src="/images/icons/user.svg" alt="Ikona prezentująca autora">
                <figcaption><a href="/user/<%= pollViewModel.authorId %>"><%= pollViewModel.authorName %> </a></figcaption>
             </figure>
            ·
            <figure class="____infoLabel">
                <figcaption><%= pollViewModel.publicationDate %></figcaption>
             </figure>
        </div>

    </section>

    <section class="__votes">

        <% if (pollViewModel.details.hasVoted) { pollViewModel.options.forEach(option => { %>
            <div class="____optionBar">
                <div class="_____optionDescription"><%= option.name %></div> 
                <div class="_____optionProgress" data-width="<%= option.voteCount%>"></div>
                <div class="_____optionProgressNumeric"> <%= option.voteCount %>% </div>
            </div>
        <% }) %>

            <div class="___seeMore">
            <details <%= pollViewModel.details.page !== 1 ? 'open' : '' %>>
                <summary>SZCZEGÓŁY</summary>
                <table class="____userVotes">

                    <thead>
                    <tr>
                        <th>UŻYTKOWNIK</th>
                        <th>L.P OPCJI</th>
                    </tr>
                    </thead>

                    <tbody>
                        <% pollViewModel.votes.forEach(vote => { %>
                    <tr>

                        <td class="_____vote">
                            <figure>
                                <div class="userDefaultAvatar"> <%= vote.userName.charAt(0) %> </div>
                                <figcaption><a href="/user/<%= vote.userId %>"> <%= vote.userName %> </a></figcaption>
                            </figure>
                        </td>
                        <td>
                            <%= vote.option %>
                        </td>
                        <% }) %>
                        
                    </tr>
                    </tbody>

                </table>
                <hr>
                <div class="____controls">
                    <a <%- pollViewModel.details.page === 1 ? 'data-disabled' : `href="?page=${pollViewModel.details.page - 1}"` %>><img src="/images/icons/arrowThin.svg" alt="&lt" title="Poprzednia strona"></a>
                    <data id="pageNumber"> <%= pollViewModel.details.page %> </data>
                    <a <%- pollViewModel.details.isEnd ? 'data-disabled' : `href="?page=${pollViewModel.details.page + 1}"` %>><img src="/images/icons/arrowThin.svg" alt="&gt" title="Następna strona"></a>
                </div>
            </details>
            </div>
        <% } else { %>

        <form action="/poll/<%= pollViewModel.id %>" method="POST">
            <% pollViewModel.options.forEach(option => { %>
            <button class="____optionButton" name="option" type="submit" value="<%= option.id %>">
            <div class="____optionBar">
                <div class="_____optionDescription"><%= option.name %></div> 
            </div>
            </button>
            <% }) %>
        <input type="hidden" value="vote" name="method">
        </form>

        <% } %>



    </section>

</main>

<%- include('./partials/footer.ejs') %>